p{
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace; 
}

#p1 {     
    text-decoration: underline;     
  
}

#p2{
    text-align: justify;
    text-justify: inter-word;
    margin-right: 400px;
}

button{
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

img{
    margin-left: 50px;
    border: 1px solid;  
}